<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bukti Pembayaran</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/transaction">Daftar Transaksi</a>
            </li>
            <li class="breadcrumb-item active">
              <a href="/transaction/<%= transaction._id %>">Bukti Bayar</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Bukti Pembayaran # <%= transaction._id %>
              </h3>
            </div>
            <div class="card-body">
              <img
                src="http://localhost:4000/uploads/<%= transaction.buktiBayar %>"
                alt="bukti-bayar"
                height="500px"
                width="100%"
                style="border-radius: 10px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
